
*{
    font-family: sans-serif;
}

header section{
    display: flex;
    height: 100px;
    justify-content: space-between;
}
header button{
    position: absolute; 
    z-index: -1;
    border: none;
    background-color: white;
    color: gray;
    width: 50px;
    height: 40px;;
    padding-left: 30px;
    font-size: 17px;
    
}
.secleft{
    position: relative;
    margin-left: 80px;
    margin-top: 30px;
   
}

.isearch{ 
  
    margin-bottom:  50px; 
    padding-right: 90px;
    position: absolute;
    z-index: 3;
    color: gray;
}

header h3{
    border: 2px solid black;
    color: black;
    height: 22px;
    width: 70px;
    font-size: 20px;
  margin-top: 30px;
  padding: 0px 7px;
}

.secright{
  
    margin-right: 80px;
    size: 30px;
    width: 70px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    color:black;
}
nav a{
    text-decoration-line: none;
   color: black;
}
a:hover{
    color: blueviolet;
}
nav{
   
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  
    height: 25px;
}
 select{
    border: none;
 }
 .home{
    color: blueviolet;
 }

.body1{
    position: relative;
    height: 630px;
}
.imgsec1{
    
    position: absolute;
}
   

.textbody1{
    position: absolute;

    width: 550px;
    margin-top: 160px;
    margin-left: 740px;
}

.textbody1 h1{
    font-size: 45px;
    
}

.textbody1 button{
    color: aliceblue;
    background-color: rgb(106, 30, 177);
    border: none;
    font-size: 13px;
    width: 100px;
    height: 30px;

}
.textbody1 button:hover{
    transform: scale(1.1);
}




.body3div:hover{
    transform: scale(1.1);
}










.body4{
    background-color: rgb(231, 228, 228);
    height: 500px;

}


.body4 h1{
   text-align: center;
    padding-top: 50px;
    text-decoration-line: overline ;
    text-decoration-color:blueviolet ;
    text-decoration-line : 10% ;
}
.products4{
    display: flex; 
    justify-content: space-around;
    margin: 20px 90px; 
    
}

.divproduct{
    background-color: white; 
    text-align: center;

}
.divproduct h3{
    color: blueviolet;
}
.divproduct h4{
    color: blueviolet;
}




.body5{
    height: 700px;
}
.body5 h2{
    text-align: center;
    margin: 30px 0px;
}
.body5sec{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px ;

}
.body5text{
    width: 400px;
    margin: 80px 40px;
}
.body5text h2{ color: blueviolet ; text-align: center;}
 
.body5text button{
    color: aliceblue;
    background-color: rgb(106, 30, 177);
    border: none;
    font-size: 13px;
    width: 100px;
    height: 30px;
     margin-left: 140px;

}
.body5text button:hover{
    transform: scale(1.1);
}


footer{
    display: flex;
    justify-content: space-between;
    margin: 25px 50px 30px 50px;
}

ul{
    list-style-type: none;
} 
.conact{
    display: flex;
    justify-content: ;

}
footer button{
    color: aliceblue;
    background-color: rgb(106, 30, 177);
    border: none;
    font-size: 13px;
    width: 100px;
    height: 40px;
    
}